{% extends "aiweb_templates/base.html" %}
{% block content %}
<center>
  <table id="players">
    <tr>
      <td width='40%' style="text-align:right;color:blue" class="player1Name"></td>
      <td width='20%' style="text-align:center" class="playerVs">vs</td>
      <td width='40%' style="text-align:left;color:green" class="player2Name"></td>
    </tr>
  </table>
<canvas width=450 height=450 id="C">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript">
		replay_data = {{ replaydata|safe }} ;
		C = document.getElementById('C');
		V = C.getContext('2d');
		C.setSize = function(width, height) {
		        if (this.w !== width || this.h !== height) {
		                this.w = width;
		                this.h = height;
//		                if (width > 0 && height > 0) {
//		                        this.canvas.width = width;
//		                        this.canvas.height = height;
//              		}
	                this.invalid = true;
        	        this.resized = true;
	        	}
		};
		the_turn = 0;
		color = new Array(10);
		color[0] = [85, 85, 85];
		color[1] = [0, 0, 200];
		color[2] = [0, 180, 0];
		color[3] = [255, 255, 255];
		color[4] = [255, 255, 255];
		color[5] = [255, 255, 255];
		color[6] = [255, 255, 255];
		color[7] = [255, 255, 255];
		color[8] = [255, 255, 255];
		color[9] = [255, 255, 255];
		color[10] = [255, 255, 255];
		macrocolor = new Array(10);
		macrocolor[0] = [25, 25, 25];
		macrocolor[1] = [146, 146, 255];
		macrocolor[2] = [128, 200, 128];
		display_width = 450;
		display_height = 450;
		board_square_size = display_height / 13;
		board_square_padding = board_square_size / 4;
		macroboard_square_size = 3 * board_square_size + 4 * board_square_padding;
		macroboard_square_padding = board_square_padding * 2;
		board_off_x = Math.max(0, display_height - (3 * macroboard_square_size + 2 * macroboard_square_padding));
		board_off_y = Math.max(0, display_height - (3 * macroboard_square_size + 2 * macroboard_square_padding));
		nturns = replay_data["turns"];
		//console.log("turns = " + nturns);
		function init() {
			C.setSize(display_width, display_height); 
			play();
		}
		function clear() {
			V.fillStyle = 'black';
			V.fillRect(0,0,display_width,display_height);
		}
		function draw_frame(f) {
			clear();
			//console.log("turn = " + the_turn);
			for (iter_frame=f;iter_frame<=f;iter_frame++) {
				frame = replay_data["data"][iter_frame]
				//console.log("frame");
				//console.log(frame);
				for (i in frame) {
					upd = frame[i][1];
					//console.log(frame[i][0]);
					if (frame[i][0] == 'update game macroboard')
					{
						var field = upd.split(",");
						var count_col = 0
						var count_row = 0
						for(cell in field){
							var rect = macroboard_rect(count_row, count_col);
							alpha = fade(0.4, 0.8, 2, (the_turn - iter_frame));
							set_macroboard_color(field[cell], alpha);
							if (iter_frame != 0)
								V.fillRect(rect.x,rect.y,rect.width,rect.height);
							count_col = count_col + 1;
							if (count_col >= 3) {
								count_col = 0;
								count_row = count_row + 1;
							}
						}

					}
					else if (frame[i][0] == 'update game field')
					{
						var field = upd.split(",");
						var count_col = 0;
						var count_row = 0;
						//console.log(field);
						for (cell in field){
							//console.log("cell = " + field[cell]);
							var rect = board_outer_rect(count_row, count_col);
							alpha = fade(0.4, 1.0, 2, (the_turn - iter_frame));
							set_board_color(0, alpha);
							if (iter_frame != 0)
								V.fillRect(rect.x,rect.y,rect.width,rect.height);
							var rect = board_inner_rect(count_row, count_col);
							alpha = fade(0.4, 0.8, 2, (the_turn - iter_frame));
							set_board_color(field[cell], alpha);
							if (iter_frame != 0)
								V.fillRect(rect.x,rect.y,rect.width,rect.height);
							count_col = count_col + 1;
							if (count_col >= 9) {
								count_col = 0;
								count_row = count_row + 1;
							}
						}
					}
				}
			}
			display_scores ()
		}
        	// update status next to usernames
        	$('.player1Name').html(
        	        '<p>' +
        	        replay_data["playernames"][0] +
			'</p>'
			);

        	$('.player1Name td').css({'text-color':color[1],'text-decoration':'none'})
        	$('.player2Name').html(
        	        '<p>' +
        	        replay_data["playernames"][1] +
			'</p>'
			);

        	$('.player2Name td').css({'text-color':color[2],'text-decoration':'none'})
//        }
	function display_scores () {
	/*
			V.fillStyle = 'white'
			V.strokeStyle = 'white'
			info = "turn "+the_turn + "  ["
			for ( i=0; i<player; i++ ) {
				info += scores[i][the_turn] 
				if (i !=player-1)
					info += ","
			}
			info += "]"
			V.fillText(info, 260,10)
	*/
	}

	function macroboard_rect(row, col) {
		var x = board_off_x + row * macroboard_square_size + macroboard_square_padding + board_square_size / 4;
		var y = board_off_y + col * macroboard_square_size + macroboard_square_padding + board_square_size / 4;
		return {
			x: x,
			y: y,
			width: macroboard_square_size - board_square_size / 2,
			height: macroboard_square_size - board_square_size / 2,
		}
	}

	function board_outer_rect(row, col) {
		var x = board_off_x + row * board_square_size + board_square_padding + (Math.floor(1 + row / 3) * (2 * macroboard_square_padding));
		var y = board_off_y + col * board_square_size + board_square_padding + (Math.floor(1 + col / 3) * (2 * macroboard_square_padding));
		return {
			x: x,
			y: y,
			width: board_square_size - 2 * board_square_padding,
			height: board_square_size - 2 * board_square_padding,
		}
	}

	function board_inner_rect(row, col) {
//		var x = board_off_x + row * board_square_size + 2 * board_square_padding + ((1 + row % 3) * ( 2 * macroboard_square_padding));
//		var y = board_off_y + col * board_square_size + 2 * board_square_padding + ((1 + col % 3) * ( 2 * macroboard_square_padding));
		var x = board_off_x + row * board_square_size + board_square_padding + (Math.floor(1 + row / 3) * (2 * macroboard_square_padding));
		var y = board_off_y + col * board_square_size + board_square_padding + (Math.floor(1 + col / 3) * (2 * macroboard_square_padding));
		return {
			x: x + (board_square_size / 16),
			y: y + (board_square_size / 16),
			width: board_square_size - (2 * board_square_padding + board_square_size / 8),
			height: board_square_size - (2 * board_square_padding + board_square_size / 8),
		}
	}

	function set_board_color(index, alpha) {
		//console.log(index);
		V.fillStyle='rgba(' + color[index][0] + "," + color[index][1] + "," + color[index][2] + "," + alpha + ")"
	}

	function set_macroboard_color(index, alpha) {
		if (index < 0) {
			V.fillStyle='rgba(128,128,128,' + alpha + ')';
		}
		else {
			V.fillStyle='rgba(' + macrocolor[index][0] + "," + macrocolor[index][1] + ',' + macrocolor[index][2] + ',' + alpha + ')';
		}
	}

	function fade(base, limit, steps, count) {
		if (count > steps) return base
		else {
			stepsize = (limit - base) / steps
			return limit - (stepsize * count)
		}
	}
        function stop() {
            clearInterval(tick)
            tick=-1
        }
        function back() {
            stop()
            if ( the_turn > 0 ) 
                the_turn -= 1
            draw_frame(the_turn)
        }
        function forw() {
            stop()
            if ( the_turn < nturns ) 
                the_turn += 1
            draw_frame(the_turn)
        }
        function pos(t) {
            stop()
            the_turn = t
            draw_frame(the_turn)
        }
        function play() {
	    //console.log("play called");
            tick = setInterval( function() {
                if (the_turn <= nturns)
                {
                    draw_frame(the_turn)
                    the_turn += 1
                } else {
                    stop()
                }
            },300)
        }
	init()
	</script>
</canvas>
<div>
	<a href='javascript:pos(0)'>&lt;&lt;</a>&nbsp;
	<a href='javascript:back()'>&lt;</a>&nbsp;
	<a href='javascript:stop()'>stop</a>&nbsp;
	<a href='javascript:play()'>play</a>&nbsp;
	<a href='javascript:forw()'>&gt;</a>&nbsp;
	<a href='javascript:pos(nturns)'>&gt;&gt;</a>&nbsp;
</div>

{% endblock %}


